/* table */
.table {
  position: absolute;
  top: 0;
}

/* head */
.table .table__head {
  box-shadow: none;
}
.table th {
  background-color: var(--grey-300);
  border-bottom: 1px solid var(--grey-400);
}

/* body */
.table td .action-dropdown {
  visibility: visible;
}

.table tr:last-child:not(:first-child):not(:nth-child(2)) .select-list,
.table tr:nth-last-child(2):not(:first-child):not(:nth-child(2)) .select-list {
  top: 0px;
  transform: translateY(-100%);
}

.table th:first-child,
td:first-child {
  position: sticky !important;
  left: 0;
  z-index: 1;
}
.table th:last-child,
td:last-child {
  position: sticky !important;
  right: 0;
  z-index: 1;
}
.table tr:focus-within td:last-child {
  z-index: 2;
}
.table tr:focus-within .action-dropdown .context-menu {
  visibility: visible;
}
.table th:first-child {
  background-color: var(--grey-300);
}
.table th:last-child {
  background-color: var(--grey-300);
  border-left: 1px solid var(--border-color);
}
.table th:nth-last-child(2) {
  border-right: none !important;
}
.table td:last-child {
  border-left: 1px solid var(--border-color);
}
.table td:nth-last-child(2) {
  border-right: none !important;
}
.table-content .mask {
  top: 39px;
  height: calc(100% - 39px);
  z-index: 1;
  position: sticky;
}
.table-content .mask__icon {
  width: 120px;
  height: 120px;
  filter: brightness(0.8) invert(0.2);
}
.table-content .mask__message {
  font-size: 20px;
}
.table-content .filter .mask__icon {
  width: 90px;
  height: 90px;
  filter: brightness(0.8) invert(0.2);
  transform: translateY(-10%);
}
.table-content .filter .mask__message {
  transform: translateY(-20%);
  font-size: 16px;
}

/* button link */
.btn--link {
  font-size: 16px;
}

/* toolbar */
.icon--trash--light {
  scale: calc(18 / 15);
}

.table-toolbar .textfield {
  width: auto;
}
