/* popup */

/* container */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 4;
  overflow: auto;
}
.popup-container > .popup,
.dialog,
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* popup */
.popup {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(23, 27, 42, 0.24);
  width: fit-content;
  width: 400px;
  background-color: #ffffff;
}

/* header */
.popup__header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
  cursor: grab;
}
.popup__header--left {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.popup__title {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-label);
  vertical-align: top;
}
.popup i.icon-btn.btn-close::before {
  font-size: 24px;
}

/* body */
.popup__body {
  padding: 0px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.popup__description {
  display: flex;
  padding: 0px 24px 16px 24px;
}
.popup__body .form {
  padding: 0px;
}

/* footer */
.popup__footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px 24px;
  background-color: var(--grey-100);
  border-radius: 0px 0px 4px 4px;
}
.popup__footer .button-container {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 8px;
}
